@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap')

body {
  background-color: #000000;
}

.text {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.text {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 30px;
}

.typing {
  width: 23ch;
  animation: typing 2s steps(23), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
